<form method="post"
    style="display: inline;"
    action="{{ path('app_user_vote_delete', {'id': user_vote.id}) }}"
    onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_vote.id) }}">
    <button class="btn btn-sm btn-danger" title="Delete">{{ ux_icon('material-symbols:delete') }}</button>
</form>
