{% extends 'base.html.twig' %}

{% block title %}New UserVote{% endblock %}

{% block body %}
    <h1>Create new UserVote</h1>

    {{ include('user_vote/_form.html.twig') }}

    <a href="{{ path('app_user_vote_index') }}">back to list</a>
{% endblock %}
