{% extends 'base.html.twig' %}

{% block title %}New Candidate{% endblock %}

{% block body %}
    <div class="bg-secondary mb-2 px-2">
        <a class="text-white" href="{{ path('app_candidate_index') }}">Candidates</a>
        <span class="text-white">&gt; New</span>
    </div>

    <div class="row text-center mx-5">
        <div class="col-md-6 mx-auto">
            <div class="card border-dark">
                <div class="card-head">
                    <h1 class="card-title">Create new Candidate</h1>
                </div>
                <div class="card-body">
                    {{ include('candidate/_form.html.twig', {'show_delete': false, 'button_label': 'Save'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
